<div class="mycenter">
  <h1>Ajouter un circuit</h1>
  <form action="#" method="post" enctype="multipart/form-data">
    <p>
      <label for="cirnom">Nom</label>
      <br/>
      <input type="text" name="cirnom" id="cirnom" required>
    </p>

    <p>
      <label for="cirlongueur">Longueur</label>
      <br/>
      <input type="number" name="cirlongueur" id="cirlongueur" required>
    </p>

    <p>
      <label for="paynum">Pays</label>
      <br/>
      <select id="paynum" name="paynum">
        {{#each pays}}
          <option value="{{this.paynum}}">{{this.paynom}}</option>
        {{/each}}
      </select>
    </p>

    <p>
      <label for="ciradresseimage">Image</label>
      <br/>
      <input type="file" name="ciradresseimage" id="ciradresseimage" multiple="multiple">
    </p>

    <p>
      <label for="cirnbspectateurs">Nombre de spectateurs</label>
      <br/>
      <input type="number" name="cirnbspectateurs" id="cirnbspectateurs" required>
    </p>

    <p>
      <label for="cirtext">Description</label>
      <br/>
      <input type="text" name="cirtext" id="cirtext" required>
    </p>

    <input type="submit" value="Ajouter">

  </form>
</div>
