<div class="mycenter">

  <h1>Ajouter un sponsor</h1>

  <form action="#" method="post">
    <p>
      <label for="sponom">Nom</label>
      <br/>
      <input type="text" name="sponom" id='sponom'>
    </p>
    <p>
      <label for="sposectactivite">Secteur d'activité</label>
      <br/>
      <input type="text" name="sposectactivite" id='sposectactivite'>
    </p>
    <p>
      <label for="ecunum">Nom</label>
      <br/>
      <select id="ecunum" name="ecunum">
        <option value="aucune"> Aucune </option>
        {{#each ecuries}}
          <option value="{{this.ecunum}}"> {{this.ecunom}} </option>
        {{/each}}
      </select>
    </p>
    <input type="submit" value="Valider">
  </form>

</div>
