<div class="mycenter">
  <img src="/image/cat_sponsor.png" alt="Sponsors" />
  <h1>Liste des sponsors</h1>

  <p>
    <a href="/admin/sponsors/add"> <img src="/image/act_add.png" alt="Ajout_image" />Ajouter un sponsor</a>
  </p>
</div>


<table>
  <tr>
    <th>
      Nom
    </th>
    <th>
      Activite
    </th>
    <th>
      Actions
    </th>
  </tr>
  {{#each sponsors}}
    <tr>
      <td>
        {{this.sponom}}
      </td>
      <td>
        {{this.sposectactivite}}
      </td>
      <td>
        <a href="/sponsors/update/{{this.sponum}}">Modifier</a>
        <a href="/sponsors/delete/{{this.sponum}}">Supprimer</a>
      </td>
    </tr>
  {{/each}}
</table>
