<div class="mycenter"><h1>Liste des résulats</h1></div>

<div>
	<form action="#" method="post">
		<p><label for="gpnum">Selectionner un grand prix :</label><br/>
		<select id="gpnum" name="gpnum">
			{{#each listeResultat}}
				<option value="{{this.gpnum}}">{{this.gpnom}}</option>
			{{/each}}
		</select></p>
		<input type="submit" value="Valider">
	</form>
</div>
