{{#if lettrePilote}}
  <div class="lettres">
    <p>Cliquez sur une lettre</p>
    <center><table class="lettres">
      <tr>
        {{#each lettrePilote}}
          <td>
            <a href="/repertoirePilote/{{this.firstLetter}}"> {{this.firstLetter}}</a>
          </td>
        {{/each}}
      </tr>
    </table></center>
    <hr/>
  </div>
{{/if}}
