{{#if listePhotosPilote }}
  <div>
    TODO cf lightbox
    {{#each listePhotosPilote }}
        <a href="/image/pilote/{{this.phoadresse}}" class="lytebox" data-lyte-options="group:vacation" data-title="{{this.phocommentaire}}">
         {{this.phocommentaire}}
       </a>
    {{/each}}
  </div>
{{/if}}
