<!DOCTYPE html>
<html lang="fr">

<head>
	<title> {{title}} </title>
	<meta charset="UTF-8" />
	<link rel="icon" type="image/x-icon" href="/image/favicon.png" />

	<!-- CSS -->
	<link rel="stylesheet" href="/css/structure.css" />
	<link rel="stylesheet" href="/css/lytebox.css" type="text/css" media="screen" />
	<!-- END CSS -->

	<script type="text/javascript" language="javascript" src="/js/lytebox.js"></script>

	<!-- JQUERY - JQUERY-UI -->
	<script type="text/javascript" language="javascript" src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script type="text/javascript" language="javascript" src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
	 <!-- END JQUERY - JQUERY-UI -->


</head>

<body class="monBody">
	<div id="container">
		<div id="header">
			<img src="/image/header.jpg" alt="WROOM l'encyclopédie de la F1" />
		</div>
		<div id="menu">
			{{#if session.isConnected}}
				<a href="/admin/"># ACCUEIL</a> |
				<a href="/admin/pilotes"># PILOTES</a> |
				<a href="/admin/circuits"># CIRCUITS</a> |
				<a href="/admin/ecuries"># ECURIES</a> |
				<a href="/admin/resultats"># RESULTATS</a> |
				<a href="/admin/sponsors"># SPONSORS</a> |
				<a href="/deconnexion">Retour au site</a>
			{{else}}
				<a href="/accueil">ACCUEIL</a> |
				<a href="/repertoirePilote">REPERTOIRE DES PILOTES</a> |
				<a href="/circuits">LES CIRCUITS 2016</a> |
				<a href="/ecuries">ECURIES</a> |
				<a href="/resultats">RESULTATS</a>
			{{/if}}

		</div>
		<div id="contenu">
			<br/>
			<br/> {{{body}}}
		</div>
		<div id="footer">
			L'encyclopédie de la F1 depuis janvier 2016 (en NodeJS)
			<br /> © IUT du Limousin DUT Informatique année 2
			<br />
			<img src="/image/nodejs.png" id="LogoNode" alt="Logo NodeJs" title="Logo Node.JS" />
		</div>

	</div>

</body>

</html>
