<h1>Liste des résulats</h1>


<table class="tabpayscir">
	{{#each listeResultat}}
		<tr>
			<td><img src="/image/pays/{{this.payadrdrap}}" alt="drapeau du pays" />
				<a href="/resultats/{{this.gpnum}}"> {{this.gpnom}}</a>
			</td>
		</tr>
	{{/each}}
</table>
<br class="myboth" /> {{> detailsGrandPrix}}
