<h1>Authentification</h1>

{{#if fail}}
  <p>
    <strong>{{this.fail}}</strong>
  </p>
{{/if}}

<div>
  <form action="#" method="post">
    <p>
      <label for="login">Login</label><br/>
      <input type="text" id="login" name="login" required>
    </p>
    <p>
      <label for="pwd">Mot de passe</label><br/>
      <input type="password" id="pwd" name="pwd" required>
    </p>
    <input type="submit" value="Se connecter">
  </form>
</div>
